# Arquivos de ambiente
.env

# Arquivos Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/
log/

# Diretórios de estado
state/
data/

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos do sistema
.DS_Store
Thumbs.db 