[Unit]
Description=Ansible Watchdog Service
After=network.target

[Service]
Type=simple
User=hids        # Substitua por seu usuário real
WorkingDirectory=/home/hids/ansible_HIPS/rules_playbook.yml  # Diretório onde está o rules_playbook.yml
ExecStart=/usr/bin/python3 /home/hids/ansible_HIPS/Api_watchdog/watchdog_service.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target